[submodule "srv/formulas/chrony-formula"]
	path = srv/formulas/chrony-formula
	url = https://github.com/stieizc/chrony-formula
[submodule "srv/formulas/mysql-formula"]
	path = srv/formulas/mysql-formula
	url = https://github.com/saltstack-formulas/mysql-formula
[submodule "srv/formulas/epel-formula"]
	path = srv/formulas/epel-formula
	url = https://github.com/saltstack-formulas/epel-formula.git
[submodule "srv/formulas/rabbitmq-formula"]
	path = srv/formulas/rabbitmq-formula
	url = https://github.com/saltstack-formulas/rabbitmq-formula.git
